<table border="1">
    <thead>
        <tr>
            <th>Section</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>POS</td>
            <td><a href="#">ផ្ទាំងលក់ផលិតផល</a></td>
        </tr>
        <tr>
            <td>Users</td>
            <td>
                <a href="#">បញ្ជីអ្នកប្រើប្រាស់</a><br>
                <a href="#">បង្កើតអ្នកប្រើប្រាស់</a><br>
                <a href="#">កែប្រែអ្នកប្រើប្រាស់</a><br>
                <a href="#">លុបអ្នកប្រើប្រាស់</a><br>
                <a href="#">ព័ត៌មានអ្នកប្រើប្រាស់</a>
            </td>
        </tr>
        <tr>
            <td>Brands</td>
            <td>
                <a href="#">បញ្ជីម៉ាកយីហោ</a><br>
                <a href="#">បង្កើតម៉ាកយីហោ</a><br>
                <a href="#">កែប្រែម៉ាកយីហោ</a><br>
                <a href="#">លុបម៉ាកយីហោ</a>
            </td>
        </tr>
        <tr>
            <td>Categories</td>
            <td>
                <a href="#">បញ្ជីប្រភេទផលិតផល</a><br>
                <a href="#">បង្កើតប្រភេទផលិតផល</a><br>
                <a href="#">កែប្រែប្រភេទផលិតផល</a><br>
                <a href="#">លុបប្រភេទផលិតផល</a>
            </td>
        </tr>
        <tr>
            <td>Customers</td>
            <td>
                <a href="#">បញ្ជីអតិថិជន</a><br>
                <a href="#">បង្កើតអតិថិជន</a><br>
                <a href="#">កែប្រែអតិថិជន</a><br>
                <a href="#">លុបអតិថិជន</a>
            </td>
        </tr>
        <tr>
            <td>Expense Category</td>
            <td>
                <a href="#">បញ្ជីប្រភេទការចំណាយ</a><br>
                <a href="#">បង្កើតប្រភេទការចំណាយ</a><br>
                <a href="#">កែប្រែប្រភេទការចំណាយ</a><br>
                <a href="#">លុបប្រភេទការចំណាយ</a>
            </td>
        </tr>
        <tr>
            <td>Expense</td>
            <td>
                <a href="#">បញ្ជីការចំណាយ</a><br>
                <a href="#">បង្កើតការចំណាយ</a><br>
                <a href="#">កែប្រែការចំណាយ</a><br>
                <a href="#">លុបការចំណាយ</a>
            </td>
        </tr>
        <tr>
            <td>Permissions</td>
            <td>
                <a href="#">បញ្ជីការអនុញ្ញាត</a><br>
                <a href="#">បង្កើតការអនុញ្ញាត</a><br>
                <a href="#">កែប្រែការអនុញ្ញាត</a><br>
                <a href="#">លុបការអនុញ្ញាត</a>
            </td>
        </tr>
        <tr>
            <td>Roles</td>
            <td>
                <a href="#">បញ្ជីតួនាទីអ្នកប្រើប្រាស់</a><br>
                <a href="#">បង្កើតតួនាទីអ្នកប្រើប្រាស់</a><br>
                <a href="#">កែប្រែតួនាទីអ្នកប្រើប្រាស់</a><br>
                <a href="#">លុបតួនាទីអ្នកប្រើប្រាស់</a>
            </td>
        </tr>
        <tr>
            <td>Products</td>
            <td>
                <a href="#">បញ្ជីផលិតផល</a><br>
                <a href="#">បង្កើតផលិតផល</a><br>
                <a href="#">កែប្រែផលិតផល</a><br>
                <a href="#">លុបផលិតផល</a><br>
                <a href="#">ទាញយកទិន្នន័យផលិតផល</a>
            </td>
        </tr>
        <tr>
            <td>Purchase</td>
            <td>
                <a href="#">បញ្ជីការបញ្ជាទិញ</a><br>
                <a href="#">បង្កើតការបញ្ជាទិញ</a><br>
                <a href="#">កែប្រែការបញ្ជាទិញ</a><br>
                <a href="#">លុបការបញ្ជាទិញ</a><br>
                <a href="#">ទាញយកទិន្នន័យការបញ្ជាទិញ</a>
            </td>
        </tr>
        <tr>
            <td>Purchase Payment</td>
            <td>
                <a href="#">បញ្ជីការទូទាត់ការបញ្ជាទិញ</a><br>
                <a href="#">កែប្រែការទូទាត់ការបញ្ជាទិញ</a><br>
                <a href="#">លុបការទូទាត់ការបញ្ជាទិញ</a>
            </td>
        </tr>
        <tr>
            <td>Supplier</td>
            <td>
                <a href="#">បញ្ជីអ្នកផ្គត់ផ្គង់</a><br>
                <a href="#">បង្កើតអ្នកផ្គត់ផ្គង់</a><br>
                <a href="#">កែប្រែអ្នកផ្គត់ផ្គង់</a><br>
                <a href="#">លុបអ្នកផ្គត់ផ្គង់</a>
            </td>
        </tr>
        <tr>
            <td>Report</td>
            <td>
                <a href="#">របាយការណ៍ការលក់ទំនិញ</a><br>
                <a href="#">របាយការណ៍ការទិញ</a><br>
                <a href="#">របាយការណ៍ប្រាក់ចំណេញ និងខាត</a>
            </td>
        </tr>
        <tr>
            <td>Sales</td>
            <td>
                <a href="#">បញ្ជីការលក់</a><br>
                <a href="#">បង្កើតការលក់</a><br>
                <a href="#">កែប្រែការលក់</a><br>
                <a href="#">លុបការលក់</a>
            </td>
        </tr>
        <tr>
            <td>Sale Payment</td>
            <td>
                <a href="#">បញ្ជីការទូទាត់ការលក់</a><br>
                <a href="#">កែប្រែការទូទាត់ការលក់</a><br>
                <a href="#">លុបការទូទាត់ការលក់</a>
            </td>
        </tr>
    </tbody>
</table>
